Source: zimbra-ldap-base
Section: mail
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-ldap-base
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 zimbra-base
Description: Zimbra LDAP Base
 Zimbra Apache Base is used as a simple method to allow removing
 all the zimbra-ldap specific packages
