Source: zimbra-dnscache-base
Section: mail
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-dnscache-base
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 zimbra-base
Description: Zimbra dnscache Base
 Zimbra dnscache Base is used as a simple method to allow removing
 all the zimbra-dnscache specific packages
