Source: zimbra-perl
Section: perl
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-perl
Architecture: all
Depends: zimbra-perl-base, zimbra-perl-archive-zip (>= 1.53-1zimbra8.7b2ZAPPEND), zimbra-perl-berkeleydb,
 zimbra-perl-bit-vector (>= 7.4-1zimbra8.7b2ZAPPEND), zimbra-perl-cache-fastmmap, zimbra-perl-canary-stability,
 zimbra-perl-carp-clan (>= 6.08-1zimbra8.7b1ZAPPEND), zimbra-perl-class-inspector, zimbra-perl-compress-raw-bzip2 (>= 2.093-1zimbra8.7b1ZAPPEND),
 zimbra-perl-compress-raw-zlib (>= 2.103-1zimbra8.7b1ZAPPEND), zimbra-perl-config-inifiles (>= 2.86-1zimbra8.7b2ZAPPEND), zimbra-perl-convert-asn1,
 zimbra-perl-convert-binhex, zimbra-perl-convert-tnef, zimbra-perl-convert-uulib,
 zimbra-perl-crypt-openssl-random (>= 0.11-1zimbra8.7b4ZAPPEND), zimbra-perl-crypt-openssl-rsa (>= 0.33-1zimbra8.8b1ZAPPEND),
 zimbra-perl-crypt-saltedhash,
 zimbra-perl-data-uuid, zimbra-perl-date-calc (>= 6.4-1zimbra8.7b2ZAPPEND), zimbra-perl-date-manip (>= 6.90-1zimbra8.7b1ZAPPEND), zimbra-perl-dbd-mysql (>= 4.050-1zimbra8.7b5ZAPPEND),
 zimbra-perl-dbd-sqlite, zimbra-perl-db-file, zimbra-perl-dbi, zimbra-perl-digest-hmac,
 zimbra-perl-digest-sha1, zimbra-perl-email-date-format, zimbra-perl-encode-detect,
 zimbra-perl-encode-locale, zimbra-perl-error, zimbra-perl-exporter-tiny, zimbra-perl-zmq-libzmq3 (>= 1.19-1zimbra8.7b2ZAPPEND),
 zimbra-perl-file-grep, zimbra-perl-file-libmagic, zimbra-perl-file-listing, zimbra-perl-filesys-df, zimbra-perl-file-tail,
 zimbra-perl-geography-countries, zimbra-perl-html-parser, zimbra-perl-http-cookies (>= 6.01-1zimbra8.7b2ZAPPEND), zimbra-perl-http-daemon (>= 6.01-1zimbra8.7b2ZAPPEND),
 zimbra-perl-http-date, zimbra-perl-http-message (>= 6.11-1zimbra8.7b2ZAPPEND), zimbra-perl-http-negotiate (>= 6.01-1zimbra8.7b2ZAPPEND), zimbra-perl-innotop (>= 1.9.1-1zimbra8.7b5ZAPPEND),
 zimbra-perl-io-compress (>= 2.093-1zimbra8.7b1ZAPPEND), zimbra-perl-io-html, zimbra-perl-io-sessiondata, zimbra-perl-io-socket-inet6,
 zimbra-perl-io-socket-ip, zimbra-perl-io-socket-ssl (>= 2.083-1zimbra8.7b4ZAPPEND), zimbra-perl-io-stringy, zimbra-perl-ip-country,
 zimbra-perl-json-pp,
 zimbra-perl-libwww (>= 6.13-1zimbra8.7b5ZAPPEND), zimbra-perl-list-moreutils (>= 0.428-1zimbra8.7b1ZAPPEND), zimbra-perl-lwp-mediatypes,
 zimbra-perl-lwp-protocol-https (>= 6.10-1zimbra8.7b4ZAPPEND),
 zimbra-perl-mail-dkim (>= 0.43-1zimbra8.8b1ZAPPEND), zimbra-perl-mail-spf, zimbra-perl-mailtools, zimbra-perl-math-bigint, zimbra-perl-mime-lite,
 zimbra-perl-mime-tools, zimbra-perl-mime-types, zimbra-perl-mozilla-ca, zimbra-perl-netaddr-ip,
 zimbra-perl-net-cidr, zimbra-perl-net-cidr-lite, zimbra-perl-net-dns, zimbra-perl-net-dns-resolver-programmable,
 zimbra-perl-net-http (>= 6.09-1zimbra8.7b5ZAPPEND), zimbra-perl-net-ldap, zimbra-perl-net-ldapapi (>= 3.0.3-1zimbra8.7b3ZAPPEND), zimbra-perl-net-libidn,
 zimbra-perl-net-server (>= 2.009-1zimbra8.7b1ZAPPEND),
 zimbra-perl-net-ssleay (>= 1.92-1zimbra8.8b1ZAPPEND), zimbra-perl-parent, zimbra-perl-proc-processtable,
 zimbra-perl-soap-lite (>= 1.19-1zimbra8.7b5ZAPPEND), zimbra-perl-socket,
 zimbra-perl-socket-linux, zimbra-perl-swatchdog (>= 3.2.4-1zimbra8.7b2ZAPPEND), zimbra-perl-task-weaken, zimbra-perl-term-readkey, zimbra-perl-timedate,
 zimbra-perl-unix-getrusage, zimbra-perl-unix-syslog, zimbra-perl-uri, zimbra-perl-www-robotrules,
 zimbra-perl-xml-namespacesupport, zimbra-perl-xml-parser (>= 2.44-1zimbra8.7b5ZAPPEND), zimbra-perl-xml-parser-lite, zimbra-perl-xml-sax,
 zimbra-perl-xml-sax-base, zimbra-perl-xml-sax-expat (>= 0.51-1zimbra8.7b5ZAPPEND), zimbra-perl-xml-simple (>= 2.25-1zimbra8.7b4ZAPPEND),
 zimbra-perl-zmq-constants
Description: Zimbra Perl
 Zimbra Perl is a meta package that can be used to install most all
 of the Zimbra required perl modules.  The current sole exception is
 the Mail::SpamAssassin module, as that is for MTA nodes only
