#!/usr/bin/make -f
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_configure:

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/OZCB
	mkdir -p $(CURDIR)/debian/tmp/opt/zimbra/common/boot
	mkdir -p $(CURDIR)/debian/tmp/opt/zimbra/common/conf
	mkdir -p $(CURDIR)/debian/tmp/OZCL
	cp -f $(CURDIR)/bin/* $(CURDIR)/debian/tmp/OZCB
	cp -f $(CURDIR)/boot/* $(CURDIR)/debian/tmp/opt/zimbra/common/boot
	cp -rf $(CURDIR)/conf/* $(CURDIR)/debian/tmp/opt/zimbra/common/conf
	cp -rf $(CURDIR)/lib/* $(CURDIR)/debian/tmp/OZCL
