Source: zimbra-snmp-components
Section: mail
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-snmp-components
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 zimbra-snmp-base, zimbra-net-snmp (>= 5.8-1zimbra8.7b1ZAPPEND)
Description: Zimbra components for snmp package
 Zimbra snmp components pulls in all the packages used by
 zimbra-snmp
