Source: zimbra-ldap-components
Section: mail
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-ldap-components
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 zimbra-ldap-base, zimbra-lmdb (>= 2.5.17-1zimbra10.0b1ZAPPEND), zimbra-openldap-server (>= 2.5.17-1zimbra10.0b1ZAPPEND), zimbra-openssl (>= 3.0.9-1zimbra8.8b1ZAPPEND), zimbra-openssl-lib (>= 3.0.9-1zimbra8.8b1ZAPPEND), zimbra-core-components (>= 10.1.0-1zimbra10.0b1ZAPPEND)
Description: Zimbra components for ldap package
 Zimbra ldap components pulls in all the packages used by
 zimbra-ldap
