Source: zimbra-core-components
Section: mail
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-core-components
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 zimbra-base, zimbra-os-requirements, zimbra-perl, zimbra-pflogsumm,
 zimbra-openssl (>= 1.0.2l-1zimbra8.7b1ZAPPEND), zimbra-curl, zimbra-cyrus-sasl, zimbra-rsync,
 zimbra-mariadb-lib (>= 10.1.25-1zimbra8.7b1ZAPPEND), zimbra-openldap-client, zimbra-prepflog,
 zimbra-tcmalloc-lib, zimbra-perl-innotop, zimbra-openjdk (>= 13.0.1-1zimbra8.8b1ZAPPEND),
 zimbra-openjdk-cacerts, zimbra-osl, zimbra-amavis-logwatch,
 zimbra-postfix-logwatch, zimbra-rrdtool
Description: Zimbra components for core package
 Zimbra core components pulls in all the packages used by
 zimbra-core
