Source: zimbra-dnscache-components
Section: mail
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-dnscache-components
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 zimbra-dnscache-base, zimbra-unbound (>= 1.11.0-1zimbra8.7b3ZAPPEND)
Description: Zimbra components for dnscache package
 Zimbra dnscache components pulls in all the packages used by
 zimbra-dnscache
