Source: zimbra-mta-components
Section: mail
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-mta-components
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 sqlite3, zimbra-mta-base, zimbra-altermime, zimbra-amavisd (>= 2.13.0-1zimbra8.7b2ZAPPEND),
 zimbra-clamav (>= 1.0.6-1zimbra8.8b4ZAPPEND),
 zimbra-clamav-db (>= 1.0.0-1zimbra8.7b2ZAPPEND), zimbra-cluebringer, zimbra-mariadb (>= 10.1.25-1zimbra8.7b3ZAPPEND),
 zimbra-opendkim (>= 2.10.3-1zimbra8.7b7ZAPPEND), zimbra-perl-mail-spamassassin (>= 3.4.6-1zimbra8.8b4ZAPPEND),
 zimbra-postfix (>= 3.6.14-1zimbra8.7b5ZAPPEND),
 zimbra-spamassassin-rules (>= 1.0.0-1zimbra8.8b6ZAPPEND)
Description: Zimbra components for MTA package
 Zimbra mta components pulls in all the packages used by
 zimbra-mta
