Source: zimbra-mta-components
Section: mail
Priority: optional
Maintainer: Zimbra Packaging Services <packaging-devel@zimbra.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: zimbra-mta-components
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 sqlite3, zimbra-mta-base, zimbra-altermime, zimbra-amavisd,
 zimbra-clamav, zimbra-clamav-db, zimbra-cluebringer, zimbra-mariadb,
 zimbra-opendkim, zimbra-perl-mail-spamassassin (>= 3.4.1-1zimbra8.7b2ZAPPEND), zimbra-postfix,
 zimbra-spamassassin-rules
Description: Zimbra components for MTA package
 Zimbra mta components pulls in all the packages used by
 zimbra-mta
